.logo-wrapper {
  display: flex;
  align-items: center;
  height: 40%;
  width: 20%;
}

.welcome-wrapper {
  height: 30%;
}

.Welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 50%;
}

.VilkiImage {
  width: 29px;
  height: 28px;
}

.logo-word {
  font-size: 25px;
  font-style: normal;
line-height: 30px;
text-align: center;
color: #5DB94E;
margin-left: 20px;
}
