@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Nunito&display=swap');

.upperContainer{
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}
.Details-container{
    display: flex;
    width: 30%;
    justify-content: space-between;
    padding-top: 10px
}
.Details-box{
    display: flex;
    flex-direction: column;
}

.likeLogo{
    float: right;
}
.upperContainer{
    width: 100%;
}
.mainInfo{
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}
.mainImage{
    margin-right: 80px;
}
.likeLogo{
    margin-right: 50px;

}
.reviewsText{
    display: flex;
    justify-content: space-between;
}
.reviewslist{
    display: flex;
    justify-content: space-between;
    border-radius: 37px;
    background: #F3F3F3;
    width: 600px    ;
    padding: 10px;
    margin-top: 12px;


}
.placeInfo{
    margin-top: 300px;
}
.rectangleImage{
    margin-top: 130px;
    margin-left: 222px;
    height: 30%;
}
